:root {
  --bg-color: #000000;
  --text-color: #FFFFFF;
  --link-color: #6FC1F7;
}

#games-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.game-box {
  background-size: cover;
  width: 100px;
  height: 100px;
}
