:root {
  --bg-color: #000000;
  --text-color: #FFFFFF;
  --link-color: #6FC1F7;
}

#games-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.game-box {
  background-size: cover;
  width: 100px;
  height: 100px;
  margin: 10px; /* Adjust the margin as needed */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align items to the bottom */
  background-color: var(--link-color);
}

.game-box span {
  margin-bottom: 5px; /* Optional: Add some spacing between the text and the bottom */
}