$color-themes: (
  light: (
    bg-color: #fff,
    bgt-color: #ffffff80,
    text-color: #000000,
    link-color: #007bff
  ),
  dark: (
    bg-color: #000000,
    bgt-color: #00000080,
    text-color: #fff,
    link-color: #007bff
  ),
  oceanic: (
    bg-color: #015ab9,
    bgt-color: #015ab980,
    text-color: #fff,
    link-color: #ff00ea
  ),
  midnight: (
    bg-color: #3e0147,
    bgt-color: #3e014780,
    text-color: #fff,
    link-color: #4b0b8a
  ),
  bubblegum: (
    bg-color: #ff67b3,
    bgt-color: #ff67b380,
    text-color: #1c000b,
    link-color: #8b1abc
  ),
  gray: (
    bg-color: #5a5a5a,
    bgt-color: #5a5a5a80,
    text-color: #bfbfbf,
    link-color: #004da0
  ),
  neo: (
    bg-color: #000000,
    bgt-color: #00000080,
    text-color: #409cff,
    link-color: #004da0
  ),
  forest: (
    bg-color: #236126,
    bgt-color: #23612680,
    text-color: #fff,
    link-color: #64dd17
  ),
  winter: (
    bg-color: #09273d,
    bgt-color: #09273d80,
    text-color: #c3eaff,
    link-color: #00aeff
  ),
  spring: (
    bg-color: #3ec043,
    bgt-color: #3ec04380,
    text-color: #2a310b,
    link-color: #29830b
  ),
  summer: (
    bg-color: #e6cf4a,
    bgt-color: #e6cf4a80,
    text-color: #0d2f01,
    link-color: #d5a52b
  ),
  fall: (
    bg-color: #3d2e09,
    bgt-color: #3d2e0980,
    text-color: #f9ffc3,
    link-color: #ff6600
  ),
  mystic: (
    bg-color: #2b1055,
    bgt-color: #2b105580,
    text-color: #ffffff,
    link-color: #f72585
  ),
  sunset: (
    bg-color: #ff6b6b,
    bgt-color: #ff6b6b80,
    text-color: #2c3e50,
    link-color: #ff9f1c
  ),
  galactic: (
    bg-color: #0c1446,
    bgt-color: #0c144680,
    text-color: #bfc0c0,
    link-color: #a88c02
  ),
  enchanted: (
    bg-color: #3c1053,
    bgt-color: #3c105380,
    text-color: #f64c72,
    link-color: #2d00f7
  )
);

:root {
  --transition-duration: 0.5s;

  // Loop through color themes to generate CSS variables
  @each $theme, $colors in $color-themes {
    @each $color, $value in $colors {
      --#{$color}-#{$theme}: #{$value};
    }
  }
}

// Generate color classes dynamically
@each $theme, $colors in $color-themes {
  .#{$theme} {
    @each $color, $value in $colors {
      --#{$color}: var(--#{$color}-#{$theme});
    }
  }
}
