#gameFrame {
    position: absolute;
    left: 0px;
    width: calc(100% - 50px); 
    height: 95%;
}
#fullscreenButton, #sourceButton, #reloadButton {
    position: absolute;
    left: calc(100% - 40px);
    text-decoration: none;
    border-radius: 25%;
    width: 30px;
    height: 30px;
    text-align: center;
    outline: 1px solid var(--text-color);
    color: var(--text-color);
}

pop-up {
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: var(--bg-color);
    outline: 2px outset var(--text-color);
    font-size: 150%;
}
