:root {
  --transition-duration: 0.5s;
  --bg-color-light: #fff;
  --text-color-light: #000000;
  --link-color-light: #007bff;
  --bg-color-dark: #000000;
  --text-color-dark: #fff;
  --link-color-dark: #007bff;
  --bg-color-oceanic: #015ab9;
  --text-color-oceanic: #fff;
  --link-color-oceanic: #ff00ea;
  --bg-color-midnight: #3e0147;
  --text-color-midnight: #fff;
  --link-color-midnight: #4b0b8a;
  --bg-color-bubblegum: #ff67b3;
  --text-color-bubblegum: #1c000b;
  --link-color-bubblegum: #8b1abc;
  --bg-color-gray: #5a5a5a;
  --text-color-gray: #bfbfbf;
  --link-color-gray: #004da0;
  --bg-color-neo: #000000;
  --text-color-neo: #409cff;
  --link-color-neo: #004da0;
  --bg-color-forest: #236126;
  --text-color-forest: #fff;
  --link-color-forest: #64dd17;
  --bg-color-winter: #09273d;
  --text-color-winter: #c3eaff;
  --link-color-winter: #00aeff;
  --bg-color-spring: #3ec043;
  --text-color-spring: #2a310b;
  --link-color-spring: #29830b;
  --bg-color-summer: #e6cf4a;
  --text-color-summer: #0d2f01;
  --link-color-summer: #d5a52b;
  --bg-color-fall: #3d2e09;
  --text-color-fall: #f9ffc3;
  --link-color-fall: #ff6600;
  --bg-color-mystic: #2b1055;
  --text-color-mystic: #ffffff;
  --link-color-mystic: #f72585;
  --bg-color-sunset: #ff6b6b;
  --text-color-sunset: #2c3e50;
  --link-color-sunset: #ff9f1c;
  --bg-color-galactic: #0c1446;
  --text-color-galactic: #bfc0c0;
  --link-color-galactic: #a88c02;
  --bg-color-enchanted: #3c1053;
  --text-color-enchanted: #f64c72;
  --link-color-enchanted: #2d00f7;
}
.dark {
  --bg-color: var(--bg-color-dark);
  --text-color: var(--text-color-dark);
  --link-color: var(--link-color-dark);
}

.light {
  --bg-color: var(--bg-color-light);
  --text-color: var(--text-color-light);
  --link-color: var(--link-color-light);
}

.oceanic {
  --bg-color: var(--bg-color-oceanic);
  --text-color: var(--text-color-oceanic);
  --link-color: var(--link-color-oceanic);
}

.midnight {
  --bg-color: var(--bg-color-midnight);
  --text-color: var(--text-color-midnight);
  --link-color: var(--link-color-midnight);
}

.bubblegum {
  --bg-color: var(--bg-color-bubblegum);
  --text-color: var(--text-color-bubblegum);
  --link-color: var(--link-color-bubblegum);
}

.gray {
  --bg-color: var(--bg-color-gray);
  --text-color: var(--text-color-gray);
  --link-color: var(--link-color-gray);
}

.neo {
  --bg-color: var(--bg-color-neo);
  --text-color: var(--text-color-neo);
  --link-color: var(--link-color-neo);
}

.forest {
  --bg-color: var(--bg-color-forest);
  --text-color: var(--text-color-forest);
  --link-color: var(--link-color-forest);
}

.winter {
  --bg-color: var(--bg-color-winter);
  --text-color: var(--text-color-winter);
  --link-color: var(--link-color-winter);
}

.spring {
  --bg-color: var(--bg-color-spring);
  --text-color: var(--text-color-spring);
  --link-color: var(--link-color-spring);
}

.summer {
  --bg-color: var(--bg-color-summer);
  --text-color: var(--text-color-summer);
  --link-color: var(--link-color-summer);
}

.fall {
  --bg-color: var(--bg-color-fall);
  --text-color: var(--text-color-fall);
  --link-color: var(--link-color-fall);
}

.mystic {
  --bg-color: var(--bg-color-mystic);
  --text-color: var(--text-color-mystic);
  --link-color: var(--link-color-mystic);
}

.sunset {
  --bg-color: var(--bg-color-sunset);
  --text-color: var(--text-color-sunset);
  --link-color: var(--link-color-sunset);
}

.galactic {
  --bg-color: var(--bg-color-galactic);
  --text-color: var(--text-color-galactic);
  --link-color: var(--link-color-galactic);
}

.enchanted {
  --bg-color: var(--bg-color-enchanted);
  --text-color: var(--text-color-enchanted);
  --link-color: var(--link-color-enchanted);
}