:root {
  --transition-duration: 0.5s;
  --bg-color-light: #fff;
  --text-color-light: #000000;
  --link-color-light: #007bff;
  --bg-color-dark: #000000;
  --text-color-dark: #fff;
  --link-color-dark: #007bff;
  --bg-color-oceanic: #015ab9;
  --text-color-oceanic: #fff;
  --link-color-oceanic: #ff00ea;
  --bg-color-midnight: #3e0147;
  --text-color-midnight: #fff;
  --link-color-midnight: #4b0b8a;
  --bg-color-bubblegum: #ff67b3;
  --text-color-bubblegum: #1c000b;
  --link-color-bubblegum: #8b1abc;
  --bg-color-gray: #5a5a5a;
  --text-color-gray: #bfbfbf;
  --link-color-gray: #004da0;
  --bg-color-neo: #000000;
  --text-color-neo: #409cff;
  --link-color-neo: #004da0;
  --bg-color-forest: #236126;
  --text-color-forest: #fff;
  --link-color-forest: #64dd17;
}
.dark {
  --bg-color: var(--bg-color-dark);
  --text-color: var(--text-color-dark);
  --link-color: var(--link-color-dark);
}

.light {
  --bg-color: var(--bg-color-light);
  --text-color: var(--text-color-light);
  --link-color: var(--link-color-light);
}

.oceanic {
  --bg-color: var(--bg-color-oceanic);
  --text-color: var(--text-color-oceanic);
  --link-color: var(--link-color-oceanic);
}

.midnight {
  --bg-color: var(--bg-color-midnight);
  --text-color: var(--text-color-midnight);
  --link-color: var(--link-color-midnight);
}

.bubblegum {
  --bg-color: var(--bg-color-bubblegum);
  --text-color: var(--text-color-bubblegum);
  --link-color: var(--link-color-bubblegum);
}

.gray {
  --bg-color: var(--bg-color-gray);
  --text-color: var(--text-color-gray);
  --link-color: var(--link-color-gray);
}

.neo {
  --bg-color: var(--bg-color-neo);
  --text-color: var(--text-color-neo);
  --link-color: var(--link-color-neo);
}

.forest {
  --bg-color: var(--bg-color-forest);
  --text-color: var(--text-color-forest);
  --link-color: var(--link-color-forest);
}
